@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #333;
}

button {
  background-color: #dda448;
  color: #f2f2f2;
  border: none;
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}
button:hover {
  background-color: #bb342f;
}

input[type=button] {
  background-color: black;
  color: #f2f2f2;
  border: none;
  border-radius: 0.8rem;
  padding: 1rem 5rem;
  font-size: 1rem;
  cursor: pointer;
}
input[type=button]:hover {
  background-color: #bb342f;
}

header {
  min-height: 15vh;
}

nav {
  background-color: #3e78b2;
  color: #f2f2f2;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}
ul li {
  list-style-type: none;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

@media (min-width: 768px) {
  nav {
    padding: 4rem;
  }
  Ul {
    gap: 3rem;
  }
  li {
    padding: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
}
main {
  min-height: 70vh;
}
main h1 {
  color: #3e78b2;
  font-size: 2.5rem;
  padding: 1.5rem;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
}

#company-selection {
  padding: 2rem;
  align-items: center;
}
#company-selection label {
  color: #3e78b2;
  font-size: 1.5rem;
  margin-right: 1rem;
}

#company-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 1rem;
}

#contract-details-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#result-codes-and-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#div-new-query {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
#div-new-query #btn-new-query {
  display: none;
}

@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
  }
  main h1 {
    font-size: 3rem;
    padding: 3rem;
  }
  select {
    padding: 1rem 10rem;
    font-size: 1.3rem;
  }
  #company-selection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  #company-selection label {
    font-size: 2rem;
    margin: 1.5rem;
  }
  #company-selection button {
    font-size: 1.3rem;
    margin: 3rem;
  }
  #contract-details-form {
    gap: 3rem;
  }
  #contract-details-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  #contract-details-form input {
    padding: 1rem 5rem;
    font-size: 1.5rem;
  }
  #result-codes-and-kit {
    padding: 5rem;
    font-size: 1.3rem;
  }
  #div-new-query {
    padding: 2rem;
  }
  #div-new-query #btn-new-query {
    padding: 1.2rem 3rem;
    font-size: 1.5rem;
  }
}
footer {
  min-height: 1.8vh;
  background-color: #3e78b2;
  color: #f2f2f2;
  padding: 2.5rem;
  margin: 2rem 0 0 0;
  text-align: center;
}

@media (min-width: 768px) {
  footer {
    padding: 5rem;
    margin: 8rem 0 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
