@use "../theme/colors" as *;

footer {
  min-height: 1.8vh;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 2rem;
  margin: 5rem 0 0 0;
  text-align: center;
}

@media (min-width: 768px) {
  footer {
    margin: 8rem 0 0 0;
  }
}

@media (min-width: 1024px) {
  footer {
    margin: 10rem 0 0 0;
  }
}
