@use "../theme/colors" as *;

footer {
  min-height: 1.8vh;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 2.5rem;
  margin: 2rem 0 0 0;
  text-align: center;
}

@media (min-width: 768px) {
  footer {
    padding: 3.5rem;
    margin: 8rem 0 0 0;
  }
}
