@use "../theme/colors" as *;

header {
  min-height: 15vh;
}

nav {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;

  h3 {
    flex-grow: 1;
    // todo: alinhar o item na mesma linha que o ul
  }
}

ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: end;
  li {
    list-style-type: none;
    padding: 1rem;
  }
}

a {
  text-decoration: none;
  color: $secondary-color;
}
