@use "../theme/colors" as *;

header {
  min-height: 15vh;
  padding-bottom: 8rem;
}

nav {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: end;
  li {
    list-style-type: none;
    padding: 1rem;
  }
}

a {
  text-decoration: none;
  color: $secondary-color;
}

@media (min-width: 768px) {
  nav {
    padding: 4rem;
  }

  Ul {
    gap: 3rem;
  }
  li {
    padding: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  nav {
    padding: 2rem;
  }

  h3 {
    font-size: 2rem;
  }
}
