@use "../theme/colors" as *;

main {
  min-height: 70vh;

  h1 {
    color: $primary-color;
    font-size: 2.5rem;
    padding: 1.5rem;
  }
}

select {
  padding: 0.5rem;
  font-size: 1rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
}

#company-selection {
  padding: 2rem;
  align-items: center;

  label {
    color: $primary-color;
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}

#company-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 1rem;
}

#contract-details-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#result-codes-and-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#div-new-query {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;

  #btn-new-query {
    display: none;
  }
}

@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;

    h1 {
      font-size: 3rem;
      padding: 3rem;
    }
  }

  select {
    padding: 1rem 10rem;
    font-size: 1.3rem;
  }

  #company-selection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    label {
      font-size: 2rem;
      margin: 1.5rem;
    }

    button {
      font-size: 1.3rem;
      margin: 3rem;
    }
  }

  #contract-details-form {
    gap: 3rem;

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      font-size: 1.3rem;
    }

    input {
      padding: 1rem 5rem;
      font-size: 1.5rem;
    }
  }

  #result-codes-and-kit {
    padding: 5rem;
    font-size: 1.3rem;
  }

  #div-new-query {
    padding: 2rem;

    #btn-new-query {
      padding: 1.2rem 3rem;
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 1024px) {
  main {
    padding: 1rem;

    h1 {
      padding: 1.5rem;
      margin-top: 2.5rem;
    }
  }

  select {
    padding: 0.5rem 10rem;
    font-size: 1.2rem;
  }

  #company-selection {
    gap: 1rem;
    padding: 0;

    label {
      margin: 1rem;
    }
  }
  // todo: tirar espaçamento do footer
}

// todo: estilizar modo escuro
// todo: estilizar modo tablet, desktop
