@use "../theme/colors" as *;

button {
  background-color: $quaternary-color;
  color: $secondary-color;
  border: none;
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: $quinary-color;
  }
}
